.RGBbox {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.flex > p {
  align-self: center;
  padding: 1rem;
}

.flex > input {
  height: fit-content;
  align-self: center;
}
